.title {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
#sub-title {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;

}
.comp {
  background-color: lightblue;
    color: white;
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}